body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topheader {
    border-bottom: 1px solid rgb(241, 232, 214);
    background: rgb(245, 245, 245);
}

.topheader ul {
    width: 20%;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.brand {
    width: 20%;
}

.nav-list {
    width: 40%;
}

.brand h1 {
    display: inline;
}

.logo {
    font-size: 32px !important;
    font-weight: bold !important;
    color: red;
}

.nav-list ul {
    display: flex;
    justify-content: space-between;
}

.hero {
    background: orange;
}

.hero-image {
    width: 30%;
}

.hero-image img {
    width: 80%;
}

.hero-content {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-btn {
    padding: 10px;
    border: none;
    color: white;
    background: rgb(156, 35, 35);
}

.cardone {
    background: rgb(197, 169, 169);
    display: flex;
    align-items: center;
    width: 45%;
}

.cardtwo {
    background: rgb(108, 195, 230);
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 45%;
}

.card-content {
    padding: 5px;
}

.card-content h2 {
    font-size: 28px;
    font-weight: bold;
}

.cards {
    padding: 50px 25px;
}

.products {
    margin-top: 50px;
}

.products-header {
    text-align: center;
    padding: 10px;
}

.products-header ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.products-header ul li {
    margin-left: 40px;
}

.products-header ul li a {
    font-size: 25px;
}

.products .container {
    flex-direction: column !important;
}

.products-content {
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-gap: 20px;
}

.item-image {
    width: 100%;
}

.item-image img {
    width: 100%;
}

.item {
    padding: 10px;
    background: white;
    border: .1px solid rgb(222, 222, 222);
}

.trending {
    margin-top: 80px;
    position: relative;
    height: 43vh;
    background: rgb(222, 222, 222);
}

.trending_content {
    position: absolute;
    top: 80px;
    right: 400px;
}

.trending_img {
    padding: 0;
    position: absolute;
    top: -40px;
    bottom: 0;
}

.trending_img img {
    position: absolute;
    top: 0;
}

.testemonials {
    background: rgb(241, 232, 214);
    margin-top: 50px;
    padding-bottom:40px;
}

.testemonials .container {
    flex-direction: column !important;
    text-align: center;
    width: 30%;
}

.client {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40%;
    margin: auto;
}

.t-content {
    text-align: center;
}

footer {
    background: rgb(10, 8, 26);
    color: white;
}

footer .container {
    flex-direction: column !important;
}


.top{
    display: flex;
    align-items: center;
    margin-top:20px;
}

.about{
    width:30%;
}

.widget{
    width:23.3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.widget_links{
    padding:0;
}

.widget_links li a{
    color:white;
}

.bottom{
  
    background:rgb(10, 8, 26);
    border-top:1px solid gray;
    color:white;
}

.bottom ul{
    display:flex;
    justify-content: space-around;
    width:30%;
}